body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #111;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
}

/* LADO IZQUIERDO */
.left {
  flex: 2;
}

.main-img {
  width: 100%;
  border: 3px solid goldenrod;
  border-radius: 5px;
}

.car-details {
  background-color: #2a2a2a;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  color: #eee;
}

.car-details h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-details p {
  font-size: 18px;
  margin: 5px 0;
  font-weight: bold;
}

.car-details ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 10px;
  color: #ccc;
}

/* LADO DERECHO */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.gallery img {
  width: 180px;
  border: 3px solid goldenrod;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* BOTONES */
.actions {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn-comprar {
  background-color: #aaa;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-comprar:hover {
  background-color: goldenrod;
  color: black;
}
.price {
  font-size: 50px;
  font-weight: bold;
  color: goldenrod;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.btn-3d {
  background-color: #aaa;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-3d:hover {
  background-color: goldenrod;
  color: black;
}
