body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color:bisque;
    size: auto;
}

header{
    background-color: #111111;
    padding: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: 0 0 1.3vh 0.4vh inset #2c2c2c, -100px 0 5vh 3.5vh inset black;
    height: 15vh;
}

nav{
    background-color: #111111;
    margin: 0;
    height: 3vh;
}

ul{
    list-style: none;
}

#Horizontal{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(0, 0, 0);
    height: 3vh;
}
li{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#Horizontal li:hover{
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 5px 2px inset #4b4b4b;
}

#Vertical{
    display: none;
    position: absolute;
    justify-content: center;
    width: 20%;
    padding: 0;

}

nav #Horizontal li:hover #Vertical {
    background-color: #111111;
    display: block;
    margin-top: 17px; 
    width: 20%;        /* mismo ancho que el li */
    height: 6vh;
    box-shadow: 0 0 5px 2px inset #171717;
}


main{
    display: flex;
    justify-items:stretch ;
    height: 72vh;
}

main aside{
    background-color: #2D2D2D;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    height: 112vh;
    width: 19.5vw;
    padding: 40px 5px 30px 5px;
}


main article{
    width: 81.2vw;
    padding: 10px;
}

main article a section{
    margin-top: 30px;
    background-color: #c2c2c2;
    width: 1050px;
    height: auto;
    box-shadow:  #4b4b4b 0 0 6px 5px ;
    padding: 5px;
}

footer{
    position: absolute;
    bottom: -70%;
    background-color: #111111;
    width: 98.9vw;
}