body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
body{
      margin:0;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:#111;
      color: white;
      font-family: Arial, Helvetica, sans-serif;


      background-image: 
      repeating-linear-gradient(
        45deg,
        #1a1a1a 0px,
        #3e3b3b 2px,
        #111 2px,
        #111 20px
      );
    }