body{
  background: white;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
    }
    
#logo{
  width: 2%;
  height: 2%;
  border-radius: 20%;
  margin-left: 10px;
  align-items: center;
  display: flex;
}

#titulo{
  margin-left: 10px;
}
    
.boton{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.diseno{
  flex:1;
  padding:10px;
  border:transparent;
  border-radius:10px;
  background:blue;
  cursor:pointer;
  transition: background-color 1s, transform 1s;
}
.diseno:hover{
  background:#f2f2f2;
  transform: scale(1.05);
}

header{
  border-bottom: solid 3px gold;
  display: flex;
}





footer{
  background-color: rgb(0, 0, 0);
  display: flex;
  bottom: 100vh; 
  height: auto;
  width: 100vw;
  color:bisque;
  padding: 5px 1vw 5px 1vw;
  justify-content: center;
  align-items: center;
}

footer div img{
  border-radius: 10px;
  border: solid 1px gold;
  box-shadow: 0 0 3px 1px gold, 0 0 5px 2px  gold;
  margin-right: 10vw;
}

footer p{
  margin-right: 10vw;
  height: auto;
  width: 80px;
  box-shadow: 0 0 3px 1px #101010, 0 0 5px 2px  #101010;
}

footer div p{
  height: auto;
  width: 80px;
  box-shadow: 0 0 3px 1px #101010, 0 0 5px 2px  #101010;
}